orchestration/DataFlowSteps.json
{
    "Comment": "ETL Workflow",
    "TimeoutSeconds": 1800,
    "StartAt": "Start Summary Job",
    "States": {
        "Start Summary Job": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
                "JobName": "GenerateSummaryData"
            },
            "Next": "Update Catalog"
        },
        "Update Catalog": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${CreateCatalogLambda}",
                "Payload": {
                    "Input": {
                        "crawler": "enem-crawler"
                    }
                }
            },
            "Next": "Wait Catalog"
        },
        "Wait Catalog": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "Get Catalog Status"
        },
        "Get Catalog Status": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
                "FunctionName": "${CheckCatalogLambda}",
                "Payload": {
                    "Input": {
                        "crawler": "enem-crawler"
                    }
                }
            },
            "ResultPath": "$.CrawlerOutput",
            "Next": "Catalog is updated?"
        },
        "Catalog is updated?": {
            "Type": "Choice",
            "Choices": [{
                    "Variable": "$.CrawlerOutput",
                    "NumericEquals": 304,
                    "Next": "Wait Catalog"
                },
                {
                    "Variable": "$.CrawlerOutput",
                    "NumericEquals": 200,
                    "Next": "Succeed"
                }
            ],
            "Default": "Wait Catalog"
        },
        "Succeed": {
            "Type": "Succeed"
        }
    }
}