orchestration/DataFlowSteps.json
{
    "Comment": "ETL Workflow",
    "TimeoutSeconds": 1800,
    "StartAt": "Create RAW Catalog",
    "States": {
        "Create RAW Catalog": {
            "Type": "Task",
            "Resource": "",
            "ResultPath": "$.raw_catalog",
            "Next": "Wait RAW catalog"
        },
        "Wait RAW catalog": {
            "Type": "Wait",
            "Seconds": 30,
            "Next": "Get RAW catalog status"
        },
        "Get RAW catalog status": {
            "Type": "Task",
            "Resource": "",
            "InputPath": "$.raw_catalog",
            "ResultPath": "$.raw_catalog_status",
            "Next": "RAW catalog is finished?"
        },
        "RAW catalog is finished?": {
            "Type": "Choice",
            "Choices": [{
                    "Variable": "$.raw_catalog_status",
                    "NumericEquals": 304,
                    "Next": "Wait RAW catalog"
                },
                {
                    "Variable": "$.raw_catalog_status",
                    "NumericEquals": 200,
                    "Next": "Run Glue first job"
                }
            ],
            "Default": "Send error notification"
        },
        "Run Glue first job": {
            "Type": "Task",
            "Resource": "arn:aws:states:::glue:startJobRun.sync",
            "Parameters": {
                "JobName": "",
                "Arguments": {
                    "--bucket_stage": "",
                    "--raw_database": "",
                    "--staging_database": ""
                }
            },
            "ResultPath": "$.first_job_status",
            "Next": "Verify Glue job"
        },
        "Verify Glue job": {
            "Type": "Choice",
            "Choices": [{
                "Variable": "$.first_job_status.JobRunState",
                "StringEquals": "SUCCEEDED",
                "Next": "Send success notification"
            }],
            "Default": "Send error notification"
        },
        "Send error notification": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "",
                "Message": "Data workflow failed. Please check AWS Step Functions!"
            },
            "Next": "Stop workflow"
        },
        "Stop workflow": {
            "Type": "Fail",
            "Error": "ErrorCode",
            "Cause": "Caused By Message"
        },
        "Send success notification": {
            "Type": "Task",
            "Resource": "arn:aws:states:::sns:publish",
            "Parameters": {
                "TopicArn": "",
                "Message": "New data at staging env!"
            },
            "End": true
        }
    }
}